{run_duration} {number_of_rows} {number_of_columns} {grid_spacing_row} {grid_spacing_col} # t_end, shape(i,j), spacing(x,y)

{center_row_node} {center_col_node} # center(i,j)
{storm_speed} {storm_direction} {pressure_center} {pressure_edge} # sspd, sdir, pcent, pedge
{radius_of_maximum_winds} {storm_radius} # rmaxw, srad
